certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
copulas==0.6.1
ctgan==0.5.1
cycler==0.11.0
deepecho==0.3.0.post1
dython==0.6.4.post1
Faker==9.9.1
fonttools==4.31.2
graphviz==0.19.1
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
llvmlite==0.38.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.0
packaging==21.3
pandas==1.2.4
Pillow==9.0.1
psutil==5.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
pyts==0.12.0
pytz==2022.1
PyYAML==5.4.1
rdt==0.6.4
requests==2.27.1
scikit-learn==0.24.1
scipy==1.4.1
sdmetrics==0.4.1
sdv==0.14.0
seaborn==0.11.2
signatory==1.2.6.1.9.0
six==1.16.0
text-unidecode==1.3
threadpoolctl==3.1.0
torch==1.9.1+cu111
torchaudio==0.9.1
torchvision==0.10.1+cu111
tqdm==4.63.1
typing_extensions==4.1.1
urllib3==1.26.9
